.contact{
    width: 100%;
    padding: 5rem 5rem 4rem 5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: lightgray;
}

.contact .contact_list{
    width: 48%;
    background-color:white;
    padding: 1rem;
}


.contact .contact_list .form-group{
    margin-bottom: 1rem;
}

.contact .contact_list .form-group input:focus{
    outline: none!important;
    border: none!important;
}


.contact .contact_list .form-group input, .contact .contact_list .form-group textarea{
    outline: none!important;
    padding: 12px 5px!important;
}


.contact .contact_img{
    width: 48%;
    background-color: white;
    text-align: center;
    padding: 3rem 1.2rem;
    border: 5px solid white;

}



.contact .contact_img img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.contact .contact_img h5{
    font-weight: 700;
    font-size: 1.7rem;
    margin: 10px 0px;
}

.contact .contact_img h6{
    font-weight: 600;
    font-size: 1.6rem;
    margin: 10px 0px;
}

.contact .contact_img p{
  font-size: 1.1rem;
  text-align: justify;
  margin-top: 15px;
}


@media screen and (max-width:812px){
    .contact{
        padding: 5rem 3rem 4rem 3rem!important;
    }

    .contact .contact_img img{
        width: 170px!important;
        height: 170px!important;
    }
}


@media screen and (max-width:769px){
    .contact{
        padding: 5rem 2rem 4rem 2rem!important;
    }

    .contact .contact_img img{
        width: 150px!important;
        height: 150px!important;
    }
}


@media screen and (max-width:500px){
    .contact{
        padding: 5rem 1rem 4rem 1rem!important;
        flex-direction: column!important;
    }


    .contact .contact_list{
        width: 100%!important;
        margin-bottom: 20px!important;
    }


    .contact .contact_img{
        width: 100%!important;
    }
}